/*
*
*   Custom slick css 
*/
.slick-dotted.slick-slider{
    margin-bottom: 100px;
}
.slick-dots{
    bottom: -80px;
}
.dro-alan-pizza-slick .slick-prev,
.dro-alan-pizza-slick .slick-next{
    top: 50%;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #f9f6f6; 
    z-index: 2;
}

.dro-alan-pizza-slick .slick-prev{
    left: 0px;
}
.dro-alan-pizza-slick .slick-next{
    right: 0px;
}
.dro-alan-pizza-slick .slick-dots li button{
    background-color: #000;
    border: 1px solid #fff;
}
.dro-alan-pizza-slick .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fff;
}
.dro-alan-pizza-slick .slick-dots li button:before{
    color: #fff;
}
/*
*
*   Custom elements pizza 
*/
.archive .page-title{
    margin-bottom: 0px;
}
.archive-description p{
    margin-bottom: 0px;
}
.archive .element-pizza-wrapper {
    padding-top: 0px;
}
.dro-alan-pizza-slick  img,
.element-pizza .modal-body img{
    margin: 0 auto;
    z-index: 1;
}
.dro-alan-pizza-slick .pizza-title{
    color: #fff;
    font-family: 'Montserrat-Regular';
    font-weight: normal;
    font-style: italic;
    font-size: 1rem;
}

@media screen and (min-width:992px){
    .dro-alan-pizza-slick .pizza-title{
        font-size: 1.5rem;
    }
    .slick-dots{
        bottom: -50px;
    }
}